* {
    font-family: "Calibri", Times, serif;
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 1em;
    min-width: 400	px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  
  .content-table thead tr {
    background-color: #001458;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 20px 20px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }